@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
    padding-top: 38.25px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    grid-gap: 0;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    padding-top: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    padding-top: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__add-button {
    margin: 0;
    width: calc(100% - 38px);
    margin-top: 36px;
  }

  .profile__edit-button {
    margin-left: 10px;
    align-self: baseline;
  }

  .cards {
    padding-top: 36px;
  }

  .header {
    padding-top: 28px;
  }

  .header__divider-line {
    padding-top: 32px;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }

  .page__section {
    margin: 0 19px;
    max-width: calc(100% - 38px);
  }

  .footer__copyright {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 701px) and (max-width: 910px) {
  .header {
    padding-top: 45px;
    max-width: 610px;
    margin: 0 auto;
  }

  .profile {
    max-width: 610px;
    margin: 0 auto;
  }
}
